@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div style="background-color:cornflowerblue">
    <header class="text-center">
        <h1 class="display-4">Currency Converter</h1>
        <h2>by Sudath Nawagamuwage</h2>
    </header>
    <br/><br/>
    <form method="post" class="mx-auto" style="width:200px">
        <p class="col-mb-2">
            <label for="from">From Currency:</label>
            <input required type="text" class="form-control" value="GBP">
        </p>
        <p class="col-mb-4">
            <label for="to">To Currency:</label>
            <input required type="text" class="form-control" Value="EUR">
        </p>
        <p class="col-mb-4">
            <label for="amount">Converted Amount:</label>
            <input min="0" step=" 0.01" asp-for="@Model.Amount" class="form-control" required type="number" class="form-control" value="1">
        </p>

        <p class="col-md-2">
            @*<input min="0" step=" 0.01" asp-for="@Model.Amount" class="form-control" type="number" required />*@
            <button type="submit" class="btn btn-success">Convert</button>
        </p>
        <p class="col-mb-12">
            @ViewData["Message"]
        </p>
    </form>
</div>
